.container{
    width: 480px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (min-width: 768px){
    .container{
        width: 768px;
    }
}
@media screen and (min-width: 906px){
    .container{
        width: 906px;
    }
}
body{
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    color: $title-color;
}