.container{
    width: 906px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
body{
    width: 1200px;
    padding: 71px 147px;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--title-color);
}